.mtl-1{
    margin-top: 10%;
    margin-left: 10%;
}

.mg-1{
    margin: 10%;
}

.ml-1{
    margin-left: 10%;
}

.ml-2{
    margin-left: 20%;
}

.ml-3{
    margin-left: 30%;
}

.ml-4{
    margin-left: 40%;
}

.ml-5{
    margin-left: 50%;
}

.mt-dot5{
    margin-top: 5% !important;
}

.mt-dot2{
    margin-top: 2% !important;
}

.mt-1{
    margin-top: 10% !important;
}

.mtl-1px1p{
    margin-top: 10px;
    margin-left: 10%;
}